<div
  id="task-form"
  class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0"
>
  <div
    class="w-full lg:w-1/2 bg-white rounded-lg shadow sm:max-w-md md:max-w-xl lg:max-w-2xl md:mt-28"
  >
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1
        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
      >Edit the task : {{task.title}}</h1>

      <form action="/task/edit/{{task._id}}" method="post">
        <label>
          Title of the task :
          <input
            type="text"
            name="title"
            placeholder="Your task"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 mb-3"
            value="{{task.title}}"
          />
        </label>

        <label>
          Actual state :
          <fieldset>
            <div class="mt-1 mb-3">
              {{#each selectedState}}
                {{#if this.select}}
                  <input
                    type="radio"
                    checked="checked"
                    id="{{this.state}}"
                    name="state"
                    value="{{this.state}}"
                  />
                  <label
                    for="{{this.state}}"
                    class="mr-2"
                  >{{this.state}}</label>
                {{else}}
                  <input
                    type="radio"
                    id="{{this.state}}"
                    name="state"
                    value="{{this.state}}"
                  />
                  <label
                    for="{{this.state}}"
                    class="mr-2"
                  >{{this.state}}</label>
                {{/if}}
              {{/each}}
            </div>
          </fieldset>
        </label>

        <label>
          Responsible :
          <select
            name="responsible"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 mb-3"
          >

            {{#each selectedResp}}
              {{#if this.select}}
                <option
                  value="{{this.responsible._id}}"
                  selected="true"
                >{{this.responsible.username}}</option>
              {{else}}
                <option
                  value="{{this.responsible._id}}"
                >{{this.responsible.username}}</option>
              {{/if}}
            {{/each}}

          </select>
        </label>

        <label>
          Category :
          <select
            name="category"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 mb-3"
          >

            {{#each selectedCategory}}
              {{#if this.select}}
                <option
                  value="{{this.category}}"
                  selected="true"
                >{{this.category}}</option>
              {{else}}
                <option value="{{this.category}}">{{this.category}}</option>
              {{/if}}
            {{/each}}

          </select>
        </label>

        <label>
          Priority :
          <select
            name="priority"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 mb-3"
          >
            {{#each selectedPriority}}
              {{#if this.select}}
                <option
                  value="{{this.priority}}"
                  selected="true"
                >{{this.priority}}</option>
              {{else}}
                <option value="{{this.priority}}">{{this.priority}}</option>
              {{/if}}
            {{/each}}

          </select>
        </label>

        <label>
          Description :
          <textarea
            name="description"
            cols="30"
            rows="2"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 mb-5"
            value="{{task.description}}"
          >{{task.description}}</textarea>
        </label>

        <div class="w-full flex items-center justify-center">
          <button
            type="submit"
            class="w-1/2 md:w-1/4 place-content-center text-white bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >Update</button>
        </div>
        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>

    </div>
  </div>
</div>