<h1>Tasks</h1>
 
{{#each task}}
  <div>
    <h2>{{this.title}}</h3>
    <a href="task/details/{{this._id}}">View details</a>
    <p>Responsible: {{this.responsible.username}}</p>
    <p>Category: {{this.category}}</p>
    <p>Priority: {{this.priority}}</p>
    <a href="task/edit/{{this._id}}">Edit</a>
    <form action="task/delete/{{this._id}}" method="POST">
    <button>Delete</button>
    </form>
    
    
  </div>
{{/each}}