<div class="text-center"><h1
    class="mt-10 mb-2 text-3xl font-bold tracking-tight text-gray-900 text-center"
  >Tasks</h1>
  <a
    href="/task/create"
    title="Add a task"
    class="mb-2 text-xs font-bold tracking-tight text-gray-400 text-center"
  >ADD A NEW TASK</a></div>

<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 my-10 px-10">

  <section class="flex justify-baseline items-center flex-col md:px-10">
    <h2
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center"
    >Todo</h2>
    {{#each todoTasks}}
      <div
        class="p-6 bg-white border-2 rounded-lg shadow w-full my-5 {{priority}}"
      >
        <h3
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900"
        >{{title}}</h3>
        <a
          href="task/details/{{_id}}"
          class="mb-3 font-normal text-gray-700 underline"
        >View details</a>
        <p class="mb-3 font-normal text-gray-700">Responsible:
          {{responsible.username}}</p>
        <p class="mb-3 font-normal text-gray-700">Category:
          {{category}}</p>
        <p class="mb-3 font-normal text-gray-700">Priority:
          {{priority}}</p>
        <a
          href="task/edit/{{_id}}"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-emerald-800 rounded-lg hover:bg-emerald-900 focus:ring-4 focus:outline-none focus:ring-blue-300"
        >Edit</a>
        <form
          action="task/delete/{{_id}}"
          method="POST"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-rose-500 rounded-lg hover:bg-rose-600 focus:ring-4 focus:outline-none focus:ring-blue-300"
        >
          <button>Delete</button>
        </form>
      </div>
    {{/each}}
  </section>

  <section class="flex justify-baseline items-center flex-col md:px-10">
    <h2
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center"
    >In Progress</h2>
    {{#each inProgressTasks}}
      <div
        class="p-6 bg-white border-2 rounded-lg shadow w-full my-5 {{priority}}"
      >
        <h3
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900"
        >{{title}}</h3>
        <a
          href="task/details/{{_id}}"
          class="mb-3 font-normal text-gray-700 underline"
        >View details</a>
        <p class="mb-3 font-normal text-gray-700">Responsible:
          {{responsible.username}}</p>
        <p class="mb-3 font-normal text-gray-700">Category:
          {{category}}</p>
        <p class="mb-3 font-normal text-gray-700">Priority:
          {{priority}}</p>
        <a
          href="task/edit/{{_id}}"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-emerald-800 rounded-lg hover:bg-emerald-900 focus:ring-4 focus:outline-none focus:ring-blue-300"
        >Edit</a>
        <form
          action="task/delete/{{_id}}"
          method="POST"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-rose-500 rounded-lg hover:bg-rose-600 focus:ring-4 focus:outline-none focus:ring-blue-300"
        >
          <button>Delete</button>
        </form>
      </div>
    {{/each}}
  </section>

  <section
    id="todo"
    class="flex justify-baseline items-center flex-col md:px-10"
  >
    <h2
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center"
    >Done</h2>
    {{#each doneTasks}}
      <div
        class="p-6 bg-white border-2 rounded-lg shadow w-full my-5 {{priority}}"
      >
        <h3
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900"
        >{{title}}</h3>
        <a
          href="task/details/{{_id}}"
          class="mb-3 font-normal text-gray-700 underline"
        >View details</a>
        <p class="mb-3 font-normal text-gray-700">Responsible:
          {{responsible.username}}</p>
        <p class="mb-3 font-normal text-gray-700">Category:
          {{category}}</p>
        <p class="mb-3 font-normal text-gray-700">Priority:
          {{priority}}</p>
        <a
          href="task/edit/{{_id}}"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-emerald-800 rounded-lg hover:bg-emerald-900 focus:ring-4 focus:outline-none focus:ring-blue-300"
        >Edit</a>
        <form
          action="task/delete/{{_id}}"
          method="POST"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-rose-500 rounded-lg hover:bg-rose-600 focus:ring-4 focus:outline-none focus:ring-blue-300"
        >
          <button>Delete</button>
        </form>
      </div>
    {{/each}}
  </section>

</section>