<h1>Tasks</h1>

<section id="todo">
  {{#each todoTasks}}
    <div>
      <h2>{{title}}</h2>
      <a href="task/details/{{_id}}">View details</a>
      <p>Responsible: {{responsible.username}}</p>
      <p>Category: {{category}}</p>
      <p>Priority: {{priority}}</p>
      <a href="task/edit/{{_id}}">Edit</a>
      <form action="task/delete/{{_id}}" method="POST">
        <button>Delete</button>
      </form>
    </div>
  {{/each}}
</section>

<section id="in-progress">
  {{#each inProgressTasks}}
    <div>
      <h2>{{title}}</h2>
      <a href="task/details/{{_id}}">View details</a>
      <p>Responsible: {{responsible.username}}</p>
      <p>Category: {{category}}</p>
      <p>Priority: {{priority}}</p>
      <a href="task/edit/{{_id}}">Edit</a>
      <form action="task/delete/{{_id}}" method="POST">
        <button>Delete</button>
      </form>
    </div>
  {{/each}}
</section>

<section id="done">
  {{#each doneTasks}}
    <div>
      <h2>{{title}}</h2>
      <a href="task/details/{{_id}}">View details</a>
      <p>Responsible: {{responsible.username}}</p>
      <p>Category: {{category}}</p>
      <p>Priority: {{priority}}</p>
      <a href="task/edit/{{_id}}">Edit</a>
      <form action="task/delete/{{_id}}" method="POST">
        <button>Delete</button>
      </form>
    </div>
  {{/each}}
</section>
